* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom_right_gif {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 3;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header h1 {
    position: absolute;
    left: 3vw;
    top: 0;
    line-height: 80px;
}

main {
    background-color: #333;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

img.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

img.dark {
    filter: brightness(0.5);
}

.hidden {
    display: none;
}

hr.soft {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255, 255, 255, 0));
    padding: 0px;
    margin: 10px;
    z-index: 1;
}

footer {
    background-color: black;
    color: darkgray;
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    z-index: 3;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.section img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.Left {
    width: 30%;
}

.Right {
    width: 70%;
}
.section h2 {
    font-size: 45px;
    z-index: 1;
}

.section p {
    font-size: 28px;
    z-index: 1;
}

.line {
    width: 20px;
    height: 100%;
    background-color: black;
    z-index: 1;
}


.tab-container {
    position: relative;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contents-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

.tab_button {
    position: static;
    width: 100%;
    padding: 1rem;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: #888;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.1rem;
    color: white;
    font-size: 28px;
}

button.first {
    border-top-left-radius: 1rem;
}

button.last {
    border-top-right-radius: 1rem;
}

.tab_button:hover:not(.active) {
    background: #777;
}

.tab_content {
    position: static;
    display: none;
    background-color: #222;
    font-size: 27px;
    padding: 2rem 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tab_content h4 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.tab_button.active {
    background: #444;
    color: white;
}

.tab_content.active {
    display: block;
}

.tab_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab_content input[type="text"],
.tab_content input[type="password"],
.tab_content input[type="email"],
.tab_content input[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tab_content input[type="submit"] {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab_content input[type="submit"]:hover {
    background-color: #666;
}